.link{
    font-size: 1rem;
    text-decoration: none;
    color: var(--light-gray)
}

.linkHover{
    box-sizing: border-box;
    font-size: 1rem;
    text-decoration: none;
    color: var(--light-gray)
}

.linkHover:hover{
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color);
}