.link{
    font-size: 1rem;
    text-decoration: none;
    color: var(--light-gray)
}

.linkHover{
    box-sizing: border-box;
    font-size: 1rem;
    text-decoration: none;
    color: var(--light-gray)
}

.linkHover:hover{
    text-decoration: underline;
    /* border-bottom: 2px solid var(--primary-color); */
    color: var(--primary-color);
    font-weight: 600;
}